@import "Colors.css";


/* ------------ IMPORTANTE --------------*/
.container{
  align-items: center;
  max-width: 100%;
}

#busqueda_card_body_container{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  display: flex;
  flex-direction: column;
  align-items: center;

}

#card_pregunta_encontrada_header{
  background-color: var(--button_background_color);
}

#standard_button_form{
  width: 25vw;
  margin-top: 10px;
  background-color: var(--button_background_color);
  color: var(--button_color);
  border-color: var(--button_border_color);
}

#card_pregunta_encontrada{
  margin-top: 10px;
}
/* For listofonos*/
#component_busqueda{
  align-items: stretch;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

#card_body_result_container{
  overflow-y: auto;

}
#form_element{
  margin-bottom:  10px;
  width: 85vw;
}

#form_element_palabras_clave{
  height: 21vh;
}

#search_result_card{
  margin-top: 25px;
  height: 80vh;
  max-width: auto;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  #component_busqueda{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: 90vw;
  }

  #form_element{
    width: 25vw;
    margin-bottom: 10px;
  }

  #search_result_card{
    margin-top: 0px;
  }

}
