:root {

  --blue-dark: #0095A8;
  --blue-light: #13ADC1;
  --yellow-ocre: #FDD036;
  --onyx: #292929;
  --white: #FFFFFF;


  --navbar_background_color: var(--blue-dark);
  --navbar_color: var(--white);

  --card_header_color: var(--blue-dark);
  --card_header_font_color:var(--white);
  --card_body_color: var(--white);
  --card_body_font_color: var(--black);

  --button_color: var(--onyx);
  --button_background_color: var(--yellow-ocre);
  --button_border_color: var(--button_background_color);
}
