:root {

  --blue: #0095A8;
  --blue-dark: #004a53;
  --blue-light: #13ADC1;
  --yellow-ocre: #FDD036;
  --onyx: #292929;
  --white: #FFFFFF;


  --primary: var(--blue);
  --primary_light: var(--blue-light);
  --primary_dark: var(--blue-dark);
  --secondary: var(--yellow-ocre);
  --dark_color: var(--onyx);
  --light_color: var(--white);
}

#card_header{
  background-color: var(--primary);
  color: var(--light_color);
  font-size: 115%;
  font-weight: bold;
  text-align: center;
}

.found_words {
  background-color: #ffd54f;
}

#card_body{
  font-size: 17px;
  background-color:var(--light_color);
  color: var(--dark_color);
}

#navbar_logo{
  color: var(--light_color);
}
#navbar{
  background-color: var(--primary);
  color: var(--light_color);
  -webkit-box-shadow: 0 8px 6px -6px #6e6e6e;
  -moz-box-shadow: 0 8px 6px -6px #6e6e6e;
  box-shadow: 0 8px 6px -3px #6e6e6e;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link.active{
    color: var(--light_color);
}
.navbar-light .navbar-nav .nav-link:hover{
  color: var(--secondary);
}

{
  background-color: var(--secondary);
  color: var(--dark_color);
  border-color: var(--secondary);
}

#test_start_button{
  background-color: var(--secondary);
  color: var(--dark_color);
  border-color: var(--secondary);
}

#image_button_button{
  background-color: var(--secondary);
  color: var(--dark_color);
  border-color: var(--secondary);
}


#card_pregunta_encontrada_header{
  background-color: var(--secondary);
}

#standard_button_form{
  background-color: var(--secondary);
  color: var(--button_color);
  border-color: var(--secondary);
}

#card_pregunta_test_header{
  background-color: var(--secondary);
  color: var(--dark_color);
}

#form_element .noUi-connect {
  background: var(--primary);
}

