@import "Colors.css";


/* ------------ IMPORTANTE --------------*/
.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

/* ----------- COLORES ---------------*/

#Dashboard{
  margin-top: 75px;
  margin-bottom: 75px;
}

#card_header{
  background-color: var(--card_header_color);
  color: var(--card_header_font_color);
  font-size: 115%;
  font-weight: bold;
  text-align: center;
}

#card_body{
  background-color:var(--card_body_color);
  color: var(--card_body_font_color);
}

#image_button_button{
  background-color: var(--button_background_color);
  color: var(--button_color);
  border-color: var(--button_border_color);
}

/* For smartphone: */
.big-logo {
  max-width:5vh;
}

#image_button{
  margin-top: 10px;
}

#web_info_card{
  width: auto;
  height: auto;
  padding-top: 5vh;
  padding-left: 3vh;
  margin-bottom: 10px;
}

/* For desktop: */
@media only screen and (min-width: 768px) {


  .big-logo {
    max-width:5vh;
  }

  #pie_card{
    width: 35rem;
    height: 25rem;
  }

  #image_button{
    display: flex;
    width: 18rem;
    height: 10rem;
  }

  #web_info_card{
    width: auto;
    height: 25rem;
    padding: 5vh;
    margin-bottom: 10px;
  }

  #card_body{
    padding-bottom: 100px;
  }
}
