@import "Colors.css";


/* ------------ IMPORTANTE --------------*/
.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

/* ----------- COLORES ---------------*/

#Dashboard{
  margin-top: 100px;
  margin-bottom: 100px;

}

#image_button_col{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: auto;
}

#web_info_card{
  border-radius: 3px;
}
/* For smartphone: */
#big_logo {
  max-width:40vw;
}

#image_button{
  margin-top: 10px;
}

#web_info_card{
  width: auto;
  height: auto;
  padding-top: 5vh;
  padding-left: 3vh;
  margin-bottom: 10px;
  background-color: white;
}

/* For desktop: */
@media only screen and (min-width: 768px) {


  #big_logo {
    max-width:10vh;
  }

  #pie_card{
    width: 35rem;
    height: auto;
  }

  #image_button{
    display: flex;
    width: 18rem;
    height: 10rem;
  }

  #web_info_card{
    max-width: 40vw;
    height: auto;
    padding: 5vh;
    margin-bottom: 10px;
  }

  #block_info{
    margin-left: 15px;
  }

  #card_body{
    font-size: auto;
    padding-bottom: 100px;
  }
}
