/*variables*/
@import "Colors.css";



#form_header_buttons{
  display: flex;
  align-items: flex-end;
}

#login_button{
  background-color: var(--primary);
  color: var(--light_color);
  border-color: var(--light_color);
}

/* For mobile phones: */

.popover-header {
  text-align:center;
  color: var(--text-color);
  font-weight: bold;
}

.menu{
  background-color:  #282c34;
}

#standard_button{
  width: 10rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-light .navbar-nav .nav-link {
    padding-left: 40px;
}

#profile_image{
  width: 40rem;
  max-height: auto;
  margin-right: 10px;
  border-radius: 50px;
}

#profile_login_container{
  display: flex;
  margin: auto;
  margin-top: 10px;
  flex-direction: row;
  justify-content: flex-start;
}

@media only screen and (min-width: 1000px) {
  #profile_login_container{
    margin-top: 0px;
    justify-content: flex-end;
  }
}
/* For desktop: */
@media only screen and (min-width: 768px) {

  .menu{
    background-color:  #282c34;
  }
  
  .navbar-light .navbar-nav .nav-link {
      padding-left: 10px;
  }

  #standard_button{
    margin-top: auto;
    margin-bottom: auto;
  }


}
