/*variables*/
@import "Colors.css";



#form_header_buttons{
  display: flex;
  align-items: flex-end;
}
/* For mobile phones: */

.popover-header {
  text-align:center;
  color: var(--text-color);
  font-weight: bold;
}

.menu{
  background-color:  #282c34;
}


#standard_button{
  width: 10rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-light .navbar-nav .nav-link {
    padding-left: 40px;
}

/* For desktop: */
@media only screen and (min-width: 768px) {

  .menu{
    background-color:  #282c34;
  }

  .navClass{
   color: var(--urobilin);
  }

  .navbar-light .navbar-nav .nav-link {
      padding-left: 10px;
  }

  #standard_button{
    margin-top: auto;
    margin-bottom: auto;
  }
}
