/*variables*/
@import "Colors.css";


/* For mobile phones: */

.popover-header {
  text-align:center;
  background-color: var(--dark-color);
  color: var(--text-color);
  font-weight: bold;
}

.menu{
  background-color:  #282c34;
}



/* For desktop: */
@media only screen and (min-width: 768px) {

  .menu{
    background-color:  #282c34;
  }

  .navClass{
   color: var(--urobilin);
  }
}
